* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: inherit;
}

.highlight-mint {
    color: #00c78e;
}

.highlight-raspberry {
    color: #c70039;
}

.container {
    margin: 0 auto;
    width: 1200px;
    overflow: auto;
}

.section-margins {
    padding: 0 0 50px;
}

.header {
    padding: 0 0 20px;
    font-size: 1.7rem;
}

/*COLUMNS*/

.lg-col-4 {
    width: 25%;
}

.lg-col-2 {
    width: 50%;
    float: left;
}

.lg-col-3 {
    width: 33.333333333%;
    float: left;
}

/*HOME*/

#home {
    background-color: #263238;
    color: #ffffff;
    width: 100vw;
    height: 100%;
}

.home-banner {
    font-size: 2.5rem;
    padding: 100px 0 40px;
}

.drop-button {
    padding: 10px 20px;
    border: 2px solid #ffffff;
    display: inline-block;
    font-size: 1.5rem;
    transition: all .5s ease-in-out;
}

.drop-button .arrow {
    transition: transform .3s ease-in-out;
    margin-left: 5px;
}

.drop-button:hover {
    background-color: #00c78e;
    border: 2px solid #00c78e;
    cursor: pointer;
}

.drop-button:hover .arrow {
    transform: rotate(90deg);
}

/*NAVBAR*/

li {
    list-style: none;
    float: left;
    margin-right: 25px;
    padding: 7px;
    border-radius: 5px;
}

li:hover {
    cursor: pointer;
    color: #c70039;
}

.lg-hidden {
    visibility: hidden;
}

/*ABOUT */

#about {
    color: #263238;
    background-color: #ffffff;
}

.picture img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 200px;
}

.key-skill {
    float: left;
    padding: 10px 0 50px;
}

.about-icon {
    font-size: 3rem;
    color: #263238;
}

.technology img {
    height: 50px;
    padding: 10px 10px;
    float: left;
}

.bar {
    width: 90%;
    margin: 0 0 15px 0;
    background-color: #cfd8dc;
    color: #ffffff;
}

.fill {
    background-color: #c70039;
}

.tag {
    font-size: 0.9rem;
    width: 120px;
    background-color: #900c3f;
    height: 30px;
    padding: 8px 0;
}

/*PORTFOLIO*/

#portfolio {
    color: #263238;
    background-color: #eceff1;
}

.card {
    width: 100%;
    padding-top: 80%;
    position: relative;
}

.card:hover {
    cursor: pointer;
}

.project-summary {
    font-size: 1.3rem;
    background-color: rgba(255,255,255,0.85);

}

.project-button {
    border: 2px solid #c70039;
    background-color: rgba(255,255,255,0.85);
}

.project-one {
    background-image: url("../images/projects/solarsystem.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.project-two {
    background-image: url("../images/projects/mayriokart.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.project-three {
    background-image: url("../images/projects/pilotshop.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.project-four {
    background-image: url("../images/projects/cms.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.project-five {
    background-image: url("../images/projects/aptitudetest.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.project-six {
    background-color: #00c78e;
    /*background-image: url("../images/projects/mayriokart.png");*/
    /*background-size: 100% auto;*/
    /*background-repeat: no-repeat;*/
}

/*CONTACT*/

#contact {
    background-color:  #546e7a;
    color: #ffffff;
}

.form-element {
    width: 50%;
    padding: 10px;
    background-color:  #263238;
    border: none;
    color: #ffffff;
    display: block;
    margin: 0 25% 15px;
}

textarea {
    height: 200px;
    overflow: auto;
}

.send-button {
    padding: 10px 25px;
    background-color: transparent;
    color: #ffffff;
    border-radius: 0;
    border: 2px solid #ffffff;
    transition: all .5s ease-in-out;
}

.send-button:hover {
    border: 2px solid #00c78e;
    background-color: #00c78e;
    cursor: pointer;
}

/*FOOTER*/

#footer {
    background-color:  #263238;
    color: #ffffff;
    padding: 20px 0 0;
}

.footer-icon {
    margin: 10px 20px;
    font-size: 3rem;
}

.media {
    display: inline-block;
    transition: all .5s ease-in-out;
}

.media:hover {
    cursor: pointer;
    color: #546e7a;
}

.copyright p {
    color: #546e7a;
}